{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    Hello, my name is Jake Tyler Nhan. I am the creator of this website! I am a senior student at NJIT, going for
    a bachelor's degree of Computer Science. I have made this website in IS 218 Section 004, spring of 2022
    under Professor Keith Williams. This website utilizes both a simple registration and login system, as well
    as a bank records csv file upload (can upload transaction related csv files to then see a table). The first
    registered user is also an admin user, and thus is able to delete or modify other accounts.
{% endblock %}
</article>